.scale-down {
  -webkit-transform: unset !important;
  transform: unset !important;
  opacity: 1 !important;
}

.accordion__itens {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.cover-top {
  height: 542px !important;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
