// Variables
$border: 2px solid #393b41;
$color-titles: #caa574;
$white: rgba(254, 255, 250, 1);
$matrix: "matrix-ii";

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
  .aside,
  .nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: rgba(#393b41, 0.5);
      height: 2px;
      width: 100%;
      // right: 0;
      // left: 0;
      -webkit-transition: all 0.85s ease-in-out;
      transition: all 0.85s ease-in-out;
      z-index: 1;
    }
  }
  .aside {
    &::after {
      top: -100%;
    }
  }
  .nav {
    &::after {
      bottom: -100%;
    }
  }
  .aside.active {
    // border-top: $border;
    &::after {
      top: 0;
      width: 100%;
      background-color: #393b41 !important;
    }
  }
  .nav.active {
    // border-bottom: $border;
    &::after {
      top: auto;
      width: 100%;
      bottom: 0;
      background-color: #393b41 !important;
      // bottom: 0;
    }
  }
  .main {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    min-height: 70vh;
    border: $border;
    background-image: url("./assets/images/sobre.png");
    background-size: cover;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    opacity: 1;
    position: relative;
    // z-index: 100;
    &::after {
      // content: "";
      position: absolute;
      top: -15%;
      right: -15%;
      bottom: -15%;
      left: -15%;
      z-index: -1;
      background-color: white;
      -webkit-transition: all 1s ease-in-out 0.2s;
      transition: all 1s ease-in-out 0.2s;
      background-image: url("./assets/images/sobre.png");
      opacity: 0.5;
    }
    &.active::after {
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
    }
    .main__title {
      color: $color-titles;
      font-family: $matrix;
      margin-bottom: 0.5em;
      padding-top: 2rem;
      font-size: 2em;
      font-weight: 300;
      text-align: center;
    }
    .main__text {
      color: $white;
      font-weight: 300;
      line-height: 1rem;
      text-align: center;
      padding: 0.5em;
    }

    .accordion {
      .accordion__item0 {
        position: relative;
        -webkit-transition: all 0.8s ease-in-out 0.3s;
        transition: all 0.8s ease-in-out 0.3s;
        opacity: 1;
      }

      .accordion__itens {
        position: absolute;
        right: -25%;
        width: 100%;
        margin-bottom: 20px;
      }

      .accordion__h5 {
        border-bottom: 1px solid $color-titles;
        color: $color-titles;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1em;
        padding: 12px 0;
        margin-left: 12%;
      }

      .accordion__p {
        // display: none;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 10px 0 0 20px;
        width: 95%;
        font-weight: 300;
        font-size: 0.9rem;
        -webkit-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        // -webkit-animation-fill-mode: forwards;
        // animation-fill-mode: forwards;
        // -webkit-animation-duration: 0.5s;
        // animation-duration: 0.5s;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
        &.active {
          opacity: 1;
          height: 100%;
          -webkit-transform: translateY(0%);
          transform: translateY(0%);
        }
      }
    }
  }

  .footer {
    // background-color: #111111;
    // height: 50%;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    // z-index: -5;
    // -webkit-transform: translateY(65%);
    // transform: translateY(65%);
  }
}

@-webkit-keyframes quem-somos {
  0% {
    overflow: unset;
  }
  100% {
    opacity: 1;
    height: 100%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes quem-somos {
  0% {
    overflow: unset;
  }
  100% {
    opacity: 1;
    height: 100%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
